In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\thoge\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\thoge\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thoge\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thoge\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thoge\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thoge\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

In [10]:
data=[10,20,30,40]
series=pd.Series(data,name='series-1')
series

0    10
1    20
2    30
3    40
Name: series-1, dtype: int64

In [14]:
data={'name':['raj','amit','shiv'],'age':[28,34,56],'salary':[500000,40000,30000]}
df=pd.DataFrame(data)

In [16]:
df

   name  age  salary
0   raj   28  500000
1  amit   34   40000
2  shiv   56   30000

In [ ]:
df.reset_index[drop=True,inplace=True